/*
 * Empty Stylesheet file.
 */

.Basic_text {
    -fx-fill: #000000;
    -fx-font-size: 10px;
    -fx-font-family: "Berlin Sans FB"; 

}

.Basic_Date_text {
    -fx-fill: #8b8585;
    -fx-font-size: 10px;
    -fx-font-family: "Berlin Sans FB"; 

}

.button_regular {
    -fx-font-family: Arial Black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #7F7F7F;
    -fx-text-fill: #fff;
}

.button_regular Button:hover{
    -fx-cursor: hand;   
    -fx-background-color: #0D0C1D;
    
}

.list-cell:focused {
    -fx-background-color: transparent;
}

.list-cell:focused:hover {
    -fx-background-color: transparent;
}

.list-cell:selected {
    -fx-background-color: transparent;
}


