/*
 * Empty Stylesheet file.
 */

.transaction_container{
    -fx-background-color: #0D0C1D;  
}

.transaction_container Text{
    -fx-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-family: "Arial Black";
}

.transaction_container.list-view{
    -fx-background-color: #0D0C1D;
    -fx-padding:10;    
}

.transaction_container.list-cell{
    -fx-background-color: #0D0C1D;
    -fx-pref-width:400;   
}

.Basic_text{
    -fx-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";   
}

.button_regular {
    -fx-font-family: Arial Black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #7F7F7F;
    -fx-text-fill: #fff;
}

.button_regular Button:hover{
    -fx-cursor: hand;   
    -fx-background-color: #0D0C1D;
    
}

.panel{
    -fx-background-color: #CDC5BD;   
}


